[Unit]
Description=docs.dev-sec-ops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docs.dev-sec-ops.ru
ExecStartPre=-/usr/bin/docker rm docs.dev-sec-ops.ru
ExecStartPre=-/usr/bin/docker pull marley/docs.dev-sec-ops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name docs.dev-sec-ops.ru   \
 -p 4006:80                        \
 marley/docs.dev-sec-ops.ru'
ExecStop=-/usr/bin/docker kill docs.dev-sec-ops.ru
ExecStop=-/usr/bin/docker rm docs.dev-sec-ops.ru

[Install]
WantedBy=multi-user.target
